<h3> Child component </h3>
<h2><span>Value of Person age: </span>{{person.age}}</h2>
<p><span>Person name: </span>{{person.name}} </p>
<p><span>Person lastname: </span> {{person.lastName}}</p>

<!-- <h2><span>Value of Person age: </span> {{updatedPerson()?.age}}</h2>
<p><span>Person name: </span>{{updatedPerson()?.name}} </p>
<p><span>Person lastname: </span> {{updatedPerson()?.lastName}}</p> -->

<button class="btn btn-primary btn-md px-4 me-sm-3" (click)="incrementPersonAge()">Increment Person Age</button>