<header class="bg-dark py-5">
  <div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center">
      <div class="col-lg-8 col-xl-7 col-xxl-6">
        <div class="my-5 text-center text-xl-start">

          <p class="lead fw-normal text-white-50 mb-4 bg-dark">This is NOT another “Introduction to Angular Signals” and
            why
            they can be a real game-changer kind of webinar. Rather than that, we want to share with you our hands on
            experiences and take aways from implementing Signals across our applications.
            Learn proven strategies & solutions that will optimise performance, streamline communication & future-proof
            your applications.</p>
        </div>
      </div>
      <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5"
          src="https://media.licdn.com/dms/image/v2/D4D1EAQG3k5nQWdlqhg/event-background-image-crop_720_1280/event-background-image-crop_720_1280/0/1727696738325?e=1728885600&v=beta&t=JD6UQK8y7WoCaKUm6hs71mCnawt-Iqtai0tmwgC86c0"
          alt="..." /></div>
    </div>
  </div>
</header>